
.type_msg {
  border:0 ;
  color:black ;
  height: 60px ;
  max-height: 100px;
  min-height: 60px;
  overflow-y: auto;

}
.type_msg:focus {
  box-shadow:none;
  outline:0px;
}

.send_btn {
  border-radius: 0 15px 15px 0;
  background-color: rgba(0,0,0,0.3);
  border:0;
  color: white;
  cursor: pointer;
}


