
.chat{
  align-self: center;
}

.card{
  height: 500px;
  border-radius: 15px ;
  background-color: rgba(0,0,0,.075);
}

.container{
  align-content: center;
}

.users_card{
  margin-bottom: 15px ;
}
